

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table.dataTable tbody td {
        padding: 5px !important;
    }
</style>

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-primary">
        <h6 class="m-0 font-weight-bold text-white">Registrar Citas</h6>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        
                        <div class="row">
                            <div class="col-12">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Canino:</span>
                                    </div>
                                    <input type="hidden" id="hdidcanino" value="0" />
                                    <input type="text" class="form-control" style="background-color: #F9F9F9" disabled="disabled" id="txtnombrecanino">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" id="btnbuscarcanino" type="button">Buscar</button>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Vacunador/a:</span>
                                    </div>
                                    <input type="hidden" id="hdidvacunador" value="0" />
                                    <input type="text" class="form-control" style="background-color: #F9F9F9" disabled="disabled" id="txtnombrevacunador">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" id="btnbuscarvacunador" type="button">Buscar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Centro:</span>
                                    </div>
                                    <input type="hidden" id="hdidcentro" value="0" />
                                    <input type="text" class="form-control" disabled="disabled" style="background-color: #F9F9F9" id="txtcentro">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" id="btnbuscarcentro" type="button">Buscar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Fecha:</span>
                                    </div>
                                    <input type="text" class="form-control" id="txtfecha">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Hora:</span>
                                    </div>
                                    <input type="time" class="form-control" id="txtfecha">
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
            

        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <button id="btnregistrar" class="btn btn-success w-25">Registrar</button>
                <button class="btn btn-danger w-25 ml-4" disabled id="btncancelarregistro">Cancelar</button>
            </div>
        </div>



    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="registromodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Terminar Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
    
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Volver</button>
                <button type="button" class="btn btn-primary" id="btnGuardarRegistro">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div id="lectoresmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Lista de Caninos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="tablalector" style="width:100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Propietario</th>
                                        <th>Canino</th>
                                        <th>Raza</th>
                                        <th>Color</th>
                                        <th>Peso</th>
                                        <th>Nacimiento</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="librosmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Lista de Vacunadores</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="table-responsive">
                            <table class="table table-bordered" id="tablalibros" style="width:100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nombre</th>
                                        <th>Direccion</th>
                                        
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

       var tablalector;
       var tablalibro;
       $(document).ready(function () {

           tablalector = $('#tablalector').DataTable({
                responsive:true,
                "ajax": {
                    "url": '@Url.Action("ListarCanino", "GestionVacunacion")',
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": function (json) {

                        return json.data.filter(function (item) {
                            return ;
                        });
                    }
                },
               "columns": [
                    {
                        "data": "IdCanino", "render": function (data, type, row, meta) {

                            return $("<button>").addClass("btn btn-primary btn-select-lector btn-sm").append(
                                $("<i>").addClass("fas fa-check")
                            ).attr({ "data-informacion": JSON.stringify(row) })[0].outerHTML

                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    },
                    { "data": "Nombre" },
                    
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                }
           });

           tablalibro = $('#tablalibros').DataTable({
                responsive:true,
                "ajax": {
                    "url": '@Url.Action("ListarVacunador", "GestionVacunacion")',
                    "type": "GET",
                    "datatype": "json"
                },
               "columns": [
                    {
                        "data": "IdCentro", "render": function (data, type, row, meta) {

                            return $("<button>").addClass("btn btn-primary btn-select-libro btn-sm").append(
                                $("<i>").addClass("fas fa-check")
                            ).attr({ "data-informacion": JSON.stringify(row) })[0].outerHTML

                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    },
                    { "data": "Nombre" },
                    {
                        "data": "oAutor", render: function (data) {
                            return data.Nombre
                        }
                    }
                    
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                }
            });




           $.datepicker.regional['es'] = {
               closeText: 'Cerrar',
               monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio','Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
               monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',  'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
               dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
               dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié;', 'Juv', 'Vie', 'Sáb'],
               dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
               weekHeader: 'Sm',
               dateFormat: 'dd/mm/yy',
               firstDay: 1,
               isRTL: false,
               showMonthAfterYear: false,
               yearSuffix: ''
           };
           $.datepicker.setDefaults($.datepicker.regional['es']);


           $("#txtfecha").datepicker({
               minDate: new Date()
           });
       })


       $("#btnregistrar").on("click", function () {
           $("#txtestadocita").val("");
           $("#registromodal").modal("show")
       })

       $("#btnGuardarRegistro").on("click", function () {

           var request = {
               objeto: {
                   EstadoCita: { IdEstadoCita: 1 },
                   Canino: { IdPersona: $("#hdidlector").val() },
                   Vacunador: { IdLibro: $("#hdidlibro").val() },
                   Fecha: $("#txtfechadevolucion").val(),
                   
               }
           };

           jQuery.ajax({
                url: '@Url.Action("GuardarCitas", "Cita")',
                type: "POST",
                data: JSON.stringify(request),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.resultado) {
                        limpiarTodo();
                        $("#registromodal").modal("hide")
                        swal("Listo", data.mensaje, "success");
                    } else {
                        swal("Lo sentimos", data.mensaje, "warning");
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            });


       })

       $("#btnbuscarlector").on("click", function () {
           tablalector.ajax.reload();
           $("#lectoresmodal").modal("show")
       })
       $("#btnbuscarlibro").on("click", function () {
           tablalibro.ajax.reload();
           $("#librosmodal").modal("show")
       })



       $(document).on('click', '.btn-select-lector', function (event) {
           var json = $(this).data("informacion")
           $("#hdidlector").val(json.IdCanino)
           $("#txtnombrespersona").val(json.Nombre )
           $("#lectoresmodal").modal("hide")

           $("#btncancelarregistro").prop("disabled",false)
       });

       $(document).on('click', '.btn-select-libro', function (event) {
           var json = $(this).data("informacion")
           $("#hdidlibro").val(json.IdVacunador)
           $("#txttitulolibro").val(json.Nombre + json.Apellido)
           $("#librosmodal").modal("hide")

           $("#btncancelarregistro").prop("disabled", false)
       });

       $("#btncancelarregistro").on("click", function () {
           limpiarTodo();
       })

       function limpiarTodo() {
           $("#hdidlector").val("0")
           $("#txtcodigopersona").val("")
           $("#txtnombrespersona").val("")

           $("#hdidlibro").val("0")
           $("#txttitulolibro").val("")

           $("#txtfechadevolucion").val("")

           $("#btncancelarregistro").prop("disabled", true)

       }
    </script>


}